output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "%{[fields][index_pool]}-%{[fields][index_env]}-%{[fields][index_doc_type]}-%{+YYYY.MM.dd}"
    document_type => "%{[fields][index_doc_type]}"
  }
}